{% extends "base.html" %}

{% block page_title %}How it Works{% endblock %}

{% block content %}
  <h3>How it Works</h3>
  <p class="open_text_block">
    The goal of demoQRacy is to make offline voting easier. 
    For example, pretend you're hosting a bake off, where five
    bakers will compete to make the best brownies in town. Your
    judges will be fifty people in attendance. Using demoQRacy, 
    you can print out a large, unique barcode for each baker's table. 
    After your judges have tried all the brownies, they scan the
    barcode using their mobile phones, which registers their vote.
    Vote counts are visible only to you, through this website. 
  </p> 
    
  
  <h3>Identity</h3>
  <p class="open_text_block">
    Voters identify themselves using their Google Accounts: the same
    usernames they use to access Google services like Gmail, Google
    Docs &amp; Spreadsheets, YouTube, and more. Many users will already
    have a Google Account, and those that don't will see an easy signup
    form. When you create your &quot;election,&quot; you have the option of
    recording the usernames of your voters.
  </p>
  
{% endblock content %}