<html>
<head>
<title>Powered by demoQRacy</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/base.css">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/base.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/styles/full-size.css" />
  <link rel="stylesheet" type="text/css" media="handheld and (max-device-width: 480px)" href="/static/styles/narrow-screen.css" />
</head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>