{% extends "base.html" %}

{% block page_title %}Terms of Use{% endblock %}

{% block content %}
  <h3>Terms of Use</h3>
  <p class="open_text_block">
    The demoQRacy.com website (the "Website") is hosted by Google. 
    By using and/or visiting the Website, you consent to be bound 
    by these terms of service as well as Google's general 
    <a href="http://www.google.com/accounts/TOS">Terms of Service</a>
    and Google's general <a href="http://www.google.com/privacy.html">Privacy Policy</a>.
  </p>
  
{% endblock content %}