{% extends "sparse.html" %}

{% block content %}  
    <div class="phone_center">
      {% if show_ads %}
      <script type="text/javascript"><!--
        // XHTML should not attempt to parse these strings, declare them CDATA.
        /* <![CDATA[ */
        window.googleAfmcRequest = {
          client: 'ca-mb-pub-4798992313496993',
          format: '320x50_mb',
          output: 'html',
          slotname: '8410728755'
        };
        /* ]]> */
      //--></script>
      <script type="text/javascript"    src="http://pagead2.googlesyndication.com/pagead/show_afmc_ads.js"></script>
      {% endif %}
      <h3>{{ title }}</h3>
      {% if canvote %}
      <form method="post">
        <p>Vote for {{ name }}?</p>
        <p>
          <button name="submit" value="True" type="submit">Vote</button>
          <button name="cancel_button" value="True" type="submit">Cancel</button>
        </p>
      </form>  
      {% else %}
        {{ message }}
      {% endif %}
      <p><a href="{{ user.logout_url }}">Log Out</a></p>
    </div>

{% endblock content %}