@charset "UTF-8";

/** 
 *  Reset for cross-browser consistency 
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #313131;
}

#header {
  background-color: #caeefc;
  width: 1000px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 50px 0px 50px;
}

#logo_container {
	float: left;
}

#tr_links {
  float: right;
  padding-top: 45px;
  color: #313131;
}

a {
  text-decoration: underline;
  font-family: verdana, sans-serif;
  color: #b09d8d;
}

a:hover {
  text-decoration: none;
}
  
ul.flat_link_list {
	margin: 0;
	padding: 0;
  list-style: none;
}

ul.flat_link_list li {
    display: inline;
    padding-right: 6px;
}

#content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

#home_left {
  float: left;
  width: 470px;
  border-right: 1px dashed #caeefc; 
  padding-right: 30px;
}

#home_right {
  float: left;
  width: 469px;
  padding-left: 30px;
}

h3 {
	margin: 0px 0px 10px 0px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 42px;
  color: #b09d8d;
}

.pullout_box {
  background-color: #313131;
  padding: 15px;
  color: #caeefc;
}

#how_it_works_home_box {
  margin-top: 15px;
}

.big_list {
  list-style: decimal;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  color: #caeefc;
  padding-left: 30px; 
  padding-bottom: 6px;
}

.big_list p {
  color: #ffffff;
  font-family: verdana, sans-serif;
  font-size: 14px;
}

.tip {
  border-bottom: 1px dotted #caeefc;
  cursor: help; 
}

.button {
  background-color: #313131;
  padding: 6px 12px 6px 12px;
}

span.button a {
  text-decoration: underline;
  font-family: verdana, sans-serif;
  color: #b09d8d;
}

#new_election_home_button {
  margin-top: 16px;	
}

span.button a:hover {
  text-decoration: none;
}

.subtle_helper_text {
  color: #aaaaaa; 
}

.undecorated_stack {
  list-style: none; 
}

ul.undecorated_stack li {
  padding: 6px 0px 6px 0px;
}

#date_range_breaker {
  width: 78px;
  display: inline-block;
}

input[type="text"] {
  border: 1px solid #b09d8d;
  padding: 6px 6px 6px 6px;
  color: #313131;
  margin: 0px;
}

input[type="text"].wide {
  width: 400px;
}

input[type="text"].narrow {
  width: 150px;
}

img.flanker_icon {
  top: 3px;
  position: relative;
}

ol.text {
  margin-left: 20px;
}

ol.text li {
  padding: 6px 0px 6px 0px;
}
