.candidate {
  page-break-after: always;
}

.title {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  font-family: verdana, sans-serif;
}

.explanation {
  font-size: 3em;
  text-align: center;
}

.qrcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
}